@import '../../../styles/variables';
@import '../../../styles/fonts';

.information-section {
	background: $color-mono-white;
	display: flex;
	flex-direction: column;
	padding: 20px 20px 15px;

	width: 100%;
	height: auto;

	h3 {
		@include heading-3;
		color: $color-mono-black;
		text-align: left;
		text-decoration: none;
		display: inline-block;
		margin: 0px 0px 10px;
	}

	img {
		width: 100%;
		height: auto;
	}

	.indicator {
		width: 10px;
		height: 10px;
		display: inline-block;
		margin: 2px 8px;
		border-radius: 50%;
		border: 1px solid $color-primary-red-main;
	}

	.selected {
		background: $color-primary-red-main;
	}
}

.alice-carousel__dots {
	margin: 16px 3px 0px !important;
}
