@import '../../styles/variables';
@import '../../styles/fonts';
@import '/node_modules/react-datepicker/src/stylesheets/datepicker.scss';

.calendar-wrapper {
	font-family: $font-family;
	// remove outline
	.react-datepicker__input-container {
		outline: none;
	}
}

.calendar {
	font-family: $font-family;
}

.react-datepicker__month-container {
	background-color: #081833;
	color: #969eac;
	font-size: 1rem;
	font-family: 'Mulish';

	.react-datepicker__month {
		padding: 1rem 0;
	}

	.react-datepicker__month-text {
		@include font-md-bold;
		display: inline-block;
		width: 5rem;
		margin: 0.5rem;
		font-size: 1rem;
		padding: 0.2rem;
		&:hover {
			background-color: #534cea;
		}
	}
}
