@import '../../styles/variables';
@import '../../styles/fonts';

.wrapper {
	background-color: $color-mono-white;
	position: relative;
	max-width: inherit;
	width: 100%;
	margin: 0px auto;
	min-height: calc(100vh - $header-height);
	// fixed
	// top: $header-height;

	// sticky (none att)
}
